* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Images/WoodenPannel.jpeg);
    font-family: fantasy;
}

.footer,
header {
    background-image: url(Images/Background\ 1.jpg);
}

header {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
    height: 100px;
}

.nav-bar {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.nav-bar li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.nav-bar a:link {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: steelblue;
    text-decoration: none;
}

.nav-bar a:visited {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover:visited {
    color: steelblue;
    text-decoration: none;
}

.nav-bar li>ul {
    display: none;
}

.nav-bar li:hover ul {
    display: block;
    position: absolute;
    background-color: black;
}

.label {
    text-align: center;
    margin: 20px;
}

input {
    background-color: white;
    text-align: center;
    margin: 20px;
    width: 300px;
}

.button {
    color: white;
    background-color: steelblue;
    text-align: center;
    margin: 20px;
    border-style: ridge;
    border-color: black;
    width: 75px;
}

.options {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}

.account {
    background-image: repeating-radial-gradient(navy, black);
    width: 30%;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.account button {
    color: white;
    background-color: transparent;
    text-decoration: none;
    border-style: none;
    font-size: 25px;
    width: fit-content;
    text-align: center;
}

.account button:hover {
    color: cyan;
    background-color: transparent;
}

.account button:checked {
    display: contents;
}

.signup {
    margin-right: 50px;
}

.login {
    margin-left: 50px;
}

.select>.signupclicked {
    display: contents;
}

.select>.loginclicked {
    display: contents;
}

.signupclicked {
    display: none;
}

.loginclicked {
    display: none;
}

.whitespace {
    background-color: rgb(255, 255, 255);
    width: 15cm;
    height: 15cm;
    margin: 0 auto;
    margin-top: 2.5cm;
    margin-bottom: 2.5cm;
    border-radius: 200px;
}

.submitButton {
    margin: 0 auto;
    width: fit-content;
}

.row::after {
    clear: both;
}

.row::before,
.row::after {
    content: "";
    display: table;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 170px;
    justify-content: center;
    text-align: center;
}



footer {
    width: 100%;
    height: 100px;
}

.labels {
    height: 30px;
    margin: 0;
}

#loginUsername {
    margin-right: 40px;
}

.smallIcon {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: black;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.payment-option-list li {
    list-style: none;
    margin-top: 30px;
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    max-width: 400px;
    border-color: lightgray;
}

.payment-option-list a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-size: large;
}

.hover-2 {
    --h: 1.2em;
    /* the height */

    line-height: var(--h);
    color: #0000;
    overflow: hidden;
    text-shadow:
        0 var(--_t, var(--h)) #fff,
        0 0 var(--_c, #000);
    background:
        linear-gradient(powderblue 0 0) bottom/100% var(--_d, 0) no-repeat;
    transition: 0.3s;
}

.hover-2:hover {
    --_d: 100%;
    --_t: 0;
    --_c: #0000;
}

.continue-button {
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 20px;
    padding: 15px;
    margin-left: 45%;
    margin-top: 20px;
    background-color: powderblue;
    font-size: larger;
    font-weight: bold;
}

.continue-button:hover {
    background-color: white;
    color: powderblue;
    font-weight: bold;
    border: solid 2px powderblue;
}

.payment-box {
    margin-left: 2.5cm;
    padding-top: 2.7cm;
}

.payment-box h2 {
    margin-left: 35px;
}

.tableDiv input {
    border: lightgray solid 2px;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;

}

.tableDiv input:hover {
    border: solid 2px powderblue;
    color: powderblue;
}

.payment-info {
    margin-left: 80px;
    padding-top: 3.2cm;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Dakoda */
.app {
    color: white;
    text-align: center;
    font-size: 12pt;
}

.flip-card-container {
    width: 200px;
    height: 100px;
    perspective: 1000px;
    padding: 50px;
}

.flip-card {
    width: 200px;
    height: 200px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border-radius: 10px; */
}

.flip-card-back {
    background-color: #517fa4;
    color: #fff;
    transform: rotateY(180deg);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.flip-card-back p {
    text-align: center;
    margin: 1px;
    font-size: 0.2;
    line-height: 1.5;
}

.flip-card-back p span {
    display: block;
    font-size: 0.2;
    margin-top: 1.25;
}

.grid {
    margin-top: 140px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid1 {
    margin-top: 2.7cm;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid1, .grid {
    margin-left: 100px;
}

.display-next-page {
    margin-top: 4cm;
}

.more {
    margin-left: .1cm;
}